<!DOCTYPE html>
<html lang="en">
<head>

  <title>Index</title>
</head>
<body>
  <h1>Welcome to Link-Nest</h1>
  {%if messages%}
    {%for message in messages%}
      <p>{{message}}</p>
    {%endfor%}
  {%endif%}
  <form method="post" action="{%url 'profile_check'%}">
    {%csrf_token%}
    <label for="">Username :</label>
    <input type="text" name="username"><br><br>
    <label for="">Password :</label>
    <input type="password"><br><br>
    <button type="submit">Login</button><br><br>
    Don't have accout?<a href="{%url 'signup'%}">Signup</a>
  </form>
</body>
</html>